*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px 80px auto;

}
.sidebar{
    padding: 10px;
    background-color: #1491d0;
    display: flex;
    flex-direction: column;
    grid-row: 1 / span 3;
}
li{
    list-style-type: none;
    display: flex;
    align-items: center;
    color: white;
    margin: 1.4px ;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sidebar img{
    filter: invert(1);
    margin: 8px;
}
li img{
    height: 20px;
    margin: 10px;
}
.logo h3{
    color: white;
}
.firstlist{
    margin: 20px 50px 20px 12px;
}
.secondlist{
    margin: 20px 50px 20px 12px;
}
.navbar{
    display: flex;
    margin: 15px;
    align-items: center;
    height: 50px;
}
input{
    width: 500px;
    background-color: rgb(225, 224, 224);
    padding: 0.3rem 0.5rem;
    border-radius: 12px;
    border: none;
}
.navbar img {
    height: 30px;
    border-radius: 50px;
}
.profileimg{
    height: 45px !important;
    border-radius: 20px;
}
.notification{
    margin-left: 18rem;
    margin-right: 1.5rem;
}
.profileimg, h4{
    margin: 0.3rem;
}
.menu{
    display: flex;
    align-items: center;
}
.menu img{
    border-radius: 40px;
    margin: 12px;
}
.greet{
    margin-right: 55%;
    margin-left: 0.5rem;
}
button{
    margin: 0 12px;
    padding: 10px 20px;
    border-radius: 18px;
    background-color: #1491d0;
    color: white;
    font-weight: 600;
    border: none;
}
.maincontent{
    padding: 20px;
    grid-column: 2;
    display: grid;
    grid-template: repeat(2,1fr)/ repeat(2,1fr);;
    background-color:  rgb(225, 224, 224);
}
/* projects line */
.projects{
    grid-row: 1/ span 2;
    display: grid;
    grid-template-rows: 50px auto auto;
    gap: 20px;
    margin-right: 20px;
}
.projects h3{
    grid-column: 1/ span 2;
    margin: 15px 0;
}
.projects img{
    height: 20px;
}
.cards{
    padding: 20px;
    border-left: 8px solid salmon;
    border-radius: 12px;
    background-color: white;
}
.announcement div,.trending .trendcard{
    width: 300px;
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 12px;
}
.announcement p{
    padding-bottom: 10px;
}
.profilelist{
    display: flex;
    align-items: center;
}
.profilelist img{
    height: 50px;
    margin: 8px;
    border-radius: 25px;
}
